@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
}


.btn {
  @apply absolute bottom-16 left-1/2 -translate-x-1/2 px-7 py-3 bg-[#9e9d9b]
         text-[20px] text-white font-bold rounded-lg cursor-pointer shadow-sm
}

.btn2 {
  @apply text-[20px] font-bold bg-[rgb(215,215,215)] py-3 px-7 rounded-lg m-0 mx-auto mt-7 mb-8 cursor-pointer
}

.profile2025Experience{
  @apply text-[30px] p-5 text-[#A2A2A2] bg-[#DBDBDB] h-25 w-25 flex justify-center items-center rounded-full
}

